/*-----------------ANIMATIONS-----------------*/

@keyframes pulse-1 {
    0% {box-shadow: 0 0 0 0 var(--color-1);}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@keyframes pulse-2 {
    0% {box-shadow: 0 0 0 0 #fff;}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@keyframes fix-header{
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes scroll-button{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes phone-animation {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(12deg);
    }
    50% {
      transform: rotate(0);
    }
    75% {
      transform: rotate(-12deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes address-menu{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes address-row{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}