/*==================BUTTONS==================*/

/*-----------PAGE MAIN BUTTONS-----------*/
.page-main-buttons{
    position: fixed;
    top: 50%;
    right: 0;
    width: 190px;
    transform: translate(140px, -50%);
    @include column-center;
    z-index: 999;
    .page-button{
        width: 100%;
        padding: 10px 15px;
        border-radius: 5px 0 0 5px;
        margin-bottom: 10px;
        cursor: pointer;
        z-index: 999;
        @include row-start;
        img{
            padding-right: 15px;
        }
        span{
            display: none;
            color: var(--t-color-6);
            font-weight: 500;
        }
        &.active{
            transform: translateX(-140px);
            span{
                display: inline-block;
            }
        }
    }
    .muraciet-button{
        background-color: var(--bg-color-5);
    }
    .kurs-button{
        background-color: var(--bg-color-2);
    }
}

/*-----------SCROLL BUTTON------------*/
.page-scroll-button{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-2);
    color: var(--t-color-6);
    box-shadow: 0 0 10px #fff;
    border-radius: 5px;
    font-size: 20px;
    z-index: 99;
    animation: scroll-button 1s ease forwards;
}
/*----------VIDEO PLAY BUTTON----------*/
.play-button{
    width: 55px;
    height: 55px;
    @include center;
    border-radius: 50%;
    border: 2px solid #fff;
    i{
        font-size: 18px;
        color: #fff;
    }
    &:hover{
        animation: pulse-2 1s ease infinite;
    }
}
/*-----------OFFCANVAS MENU BUTTON-----------*/
.offcanvas-button{
    font-size: 20px;
    color: var(--t-color-1);
}
/*-----------MOBILE SEARCH BUTTON-----------*/
.search-button{
    font-size: 20px;
    color: var(--t-color-1);
}

/*---------CLOSE BUTTON----------*/
.close-button{
    width: 35px;
    height: 35px;
    border: 2px solid var(--d-color-1);
    border-radius: 50%;
    i{
        color: var(--t-color-1);
        font-size: 24px;
    }
    &:hover{
        background-color: var(--bg-color-1);
    }
    &:hover i{
        color: var(--t-color-6);
    }
    &.secondary{
        border-color: var(--d-color-6);
        i{
            color: var(--t-color-6);
        }
        &:hover{
            background-color: var(--bg-color-6);
            i{
                color: var(--t-color-1);
            }
        }
    }
}

/*-----------NEWS BUTTON-----------*/
.news-button{
    color: var(--t-color-1);
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    min-width: 160px;
    border: 2px solid var(--d-color-1);
    margin: 20px 0 10px;
    @include center;
    border-radius: 5px;
    &:hover{
        background-color: var(--bg-color-1);
        color: var(--t-color-6);
        animation: pulse-1 1s ease infinite;
    }
}

/*----------GALLERY BUTTONS----------*/
.gallery-buttons{
    @include column-center;
    width: 100%;
    button{
        padding: 15px;
        min-width: 150px;
        width: 100%;
        max-width: 250px;
        font-size: 20px;
        font-weight: 600;
        color: var(--t-color-1);
        border: 2px solid var(--d-color-1);
        border-radius: 10px;
        margin-bottom: 10px;
        &:last-child{
            margin: 0;
        }
        &.active{
            background-color: var(--bg-color-1);
            color: var(--t-color-6);
        }
    }
}


/*change-004 01/26/2023 start*/
.all-training-link-button{
    @include center;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--bg-color-2);
    margin: 40px 0;
    span{
        color: #fff;
        font-weight: 600;
    }
    i{
        margin-left: 5px;
        color: #fff;
    }
    &:hover{
        background-color: #fff;
        span, i{
            color: var(--t-color-1);
        }
        i{
            margin-left: 10px;
        }
    }
}
/*change-004 01/26/2023 end*/