/*====================PAGES====================*/

/*BMI MAIN PAGE*/
/*-------------BANNER SECTION-------------*/
.banner-section{
    position: relative;
    .banner-swiper{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content{
        padding: 40px 0;
        background-color: var(--black-5);
        z-index: 2;
        @include center;
        .content-wrapper{
            width: 100%;
            @include column-center;
            .content-left{
                @include column-center;
                margin-bottom: 20px;
                h1{
                    color: var(--t-color-6);
                    font-weight: 600;
                    text-align: center;
                }
                .banner-button{
                    padding: 10px;
                    min-width: 150px;
                    margin: 10px 0;
                    border: 2px solid var(--d-color-6);
                    border-radius: 5px;
                    font-size: 18px;
                    color: var(--t-color-6);
                    font-weight: 600;
                    @include center;
                    &:hover{
                        background-color: var(--bg-color-6);
                        color: var(--black-9);
                        animation: pulse-2 1s ease infinite;
                    }
                }
            }
            .content-right{
                @include center;
                
            }
        }
    }
}
/*-------------COUNTER SECTION-------------*/
.counter-section{
    .counters-wrapper{
        width: 100%;
        @include column-center;
        .item{
            @include column-center;
            padding: 20px;
            .image{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                @include center;
                background-color: #f2f2f2;
            }
            .name{
                max-width: 240px;
                min-height: 70px;
                padding: 15px 0;
                p{
                    font-weight: 500;
                    font-size: 18px;
                    text-align: center;
                }
            }
            .counter-span{
                font-size: 34px;
                font-weight: 700;
                color: var(--t-color-1);
            }
        }
    }
}

/*-------------WHY US SECTION-------------*/

.why-us-section{
    .row{
        width: 100%;
        .content{
            width: 100%;
            @include column-start;
        }
        h1{
            padding: 10px 15px;
            border-left: 5px solid var(--d-color-1);
            margin-bottom: 20px;
        }
        .small-images{
            width: 100%;
            @include column-center;
            padding: 20px 0;
            .item{
                @include center;
                margin-bottom: 10px;
                img{
                    margin-right: 10px;
                    width: 80px;
                    height: 50px;
                    object-fit: contain;
                }
                .label{
                    @include column-start;
                    span{
                        font-weight: 500;
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}

/*-------------TRAININGS SECTION-------------*/
.trainings-section{
    width: 100%;
    @include column-center;
    .general-wrapper{
        width: 100%;
        padding: 30px 20px;
        background-color: var(--bg-color-1);
        @include center;
    }
    .alt-trainings-wrapper{
        width: 100%;
        padding: 20px 0;
        background-color: var(--bg-color-1);
        @include center;
    }
}


/*-----------TEDBIRLER SECTION-----------*/
.tedbirler-section{
    .row{
        width: 100%;
        .col-12{
            margin-bottom: 25px;
        }
    }
}

/*------------GALLERY SECTION------------*/
.gallery-section{
    .gallery-wrapper{
        width: 100%;
        @include center;
        margin: 30px 0;
        animation: gallery-wrapper 0.5s ease forwards;
        display: none;
        &.active{
            display: flex;
        }
    }
    .foto-row{
        width: 100%;
        .col-12{
            padding: 0;
        }
        .image{
            width: 100%;
            height: 100%;
            min-height: 200px;
            max-height: 330px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                min-height: 200px;
                max-height: 330px;
                object-fit: cover;
            }
            .hover-div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--black-4);
                @include center;
                
            }
            .foto-button{
                padding: 15px;
                min-width: 150px;
                border: 2px solid var(--d-color-6);
                border-radius: 5px;
                @include center;
                font-size: 18px;
                font-weight: 600;
                color: var(--t-color-6);
                opacity: 0;
                transform: translateY(-100px);
                &:hover{
                    animation: pulse-2 1s ease infinite;
                }
            }
            &:hover{
                .foto-button{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        
    }
    .video-row{
        width: 100%;
        .col-12{
            margin-bottom: 30px;
            @include center;
        }
        .video-item{
            width: 100%;
            max-width: 350px;
            min-height: 200px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                max-height: 330px;
                min-height: 200px;
                object-fit: cover;
            }
            .hover-div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include center;
                background-color: var(--black-4);
            }
        }
    }
}

/*----------------PARTNERS----------------*/
.partners-section{
    margin-bottom: 0;
    .partners-container{
        width: 100%;
        padding: 20px 0;
        background-color: #f8f8f8;
    }
}

/*------------MURACIET FORM SECTION------------*/
.muraciet-form-section{
    background-color: #ECEEF6;
    padding: 30px 0;
    margin-bottom: 0;
}



/*BMI ABOUT PAGE*/

/*-------------ABOUT SECTION-------------*/
.about-section{
    .row{
        width: 100%;
        .col-12{
            @include center;
            margin-bottom: 15px;
        }
    }
    .about-text{
        padding: 15px 0;
    }
}

/*TRAININGS PAGE*/
.trainers-section{
    .row{
        width: 100%;
        .col-12{
            margin-bottom: 30px;
            @include center;
        }
    }
}
/*FORMS PAGE*/
.forms-section{
    .row{
        width: 100%;
        .col-12{
            margin-bottom: 30px;
            @include center;
        }
    }
}
/*NEWS PAGE*/
.news-section{
    .row{
        width: 100%;
        .col-12{
            margin-bottom: 30px;
            @include center;
        }
    }
}


/*BMI CONTACT PAGE*/

/*--------------CONTACT SECTION--------------*/
.contact-section{
    .contact-row{
        width: 100%;
        .left{
            width: 100%;
            @include column-center;
        }
    }
}
.contact-info{
    width: 100%;
    background-color: var(--bg-color-1);
    padding: 20px;
    .info-item{
        @include column-center;
        margin-bottom: 30px;
        &:last-child{
            border: none;
            margin: 0;
        }
        i{
            font-size: 36px;
            color: var(--t-color-6);
            margin-bottom: 20px;
        }
        a{
            color: var(--t-color-6);
            font-weight: 600;
        }
    }
}
.contact-form{
    width: 100%;
    padding: 20px;
    @include column-center;
    border: 1px solid var(--black-2);
    .header{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    .form-floating{
        width: 100%;
        margin-bottom: 25px;
        input.form-control{
            border-radius: 0;
            border: none;
            border-bottom: 1px solid var(--black-2);
            &:focus{
                box-shadow: none;
                border-bottom-color: var(--d-color-1);
            }
        }
        textarea.form-control{
            resize: none;
            min-height: 150px;
            &:focus{
                box-shadow: none;
            }
        }
    }
    .footer{
        width: 100%;
        @include column-center;
        .form-submit-button{
            margin-bottom: 25px;
        }
        .sosial-icons{
            a{
                width: 45px;
                height: 45px;
                font-size: 18px;
                background-color: var(--bg-color-1);
                color: var(--t-color-6);
                &:hover{
                    animation: pulse-1 1s ease infinite;
                }
            }
        }
    }
}

.map-wrapper{
    width: 100%;
    height: 100%;
    min-height: 350px;
    iframe{
        width: 100%;
        height: 100%;
    }
}

/*BMI FAQ PAGE*/
#faq-accordion{
    width: 100%;
    .accordion-button{
        @include s-between;
        padding: 20px;
        &::after{
            display: none;
        }
        .header{
            font-weight: 500;
        }
        .main-chevron{
            font-size: 20px;
            color: var(--t-color-1);
        }
        &:focus{
            box-shadow: none;
        }
        &:not(.collapsed) {
            box-shadow: none; 
            background-color: var(--bg-color-1);
            .main-chevron{
                color: var(--t-color-6);
            }
            .header{
                color: var(--t-color-6);
            }
        }
    }
}

/*BMİ KARYERA*/
/*---------------VACANCY ACCORDION---------------*/
#vacancy-accordion{
    width: 100%;
    .accordion-button{
        @include s-between;
        &::after{
            display: none;
        }
        .header{
            font-weight: 600;
            font-size: 18px;
            padding: 10px 0;
            display: inline-block;
            margin-bottom: 10px;
        }
        .icons{
            @include column-start;
            .icon-item{
                margin-bottom: 10px;
                &:last-child{
                    margin: 0;
                }
                i{
                    color: var(--t-color-1);
                    margin-right: 10px;
                }
                span{
                    font-weight: 500;
                }
            }
        }
        .main-chevron{
            color: var(--t-color-1);
        }
        &:focus{
            box-shadow: none;
            .header{
                color: var(--t-color-7);
            }
            .icon-item{
                span{
                    color: var(--t-color-7);
                }
            }
        }
        &:not(.collapsed) {
            box-shadow: none; 
            background-color: var(--bg-color-1);
            .header{
                color: var(--t-color-6);
            }
            .icons{
                .icon-item{
                    i{
                        color: var(--t-color-6);
                    }
                    span{
                        color: var(--t-color-6);
                    }
                }
            }
            .main-chevron{
                color: var(--t-color-6);
            }
        }
    }
    .vacancy-wrapper{
        @include column-start;
        padding: 25px 20px;
        max-width: 900px;
        .header{
            font-weight: 600;
        }
        .skills-wrapper{
            @include column-start;
            padding: 10px 15px;
            ul{
                li{
                    list-style: "-  ";
                }
            }
        }
        .vacancy-table{
            margin: 10px 0;
            td:first-child{
                padding-right: 20px;
                font-weight: 600;
            }
        }
        .vacancy-button{
            padding: 15px;
            font-size: 18px;
            font-weight: 600;
            @include center;
            min-width: 150px;
            border-radius: 5px;
            background-color: var(--bg-color-1);
            color: var(--t-color-6);
            width: 100%;
            max-width: 250px;
            margin-top: 10px;
            &:hover{
                color: var(--t-color-6);
                animation: pulse-1 1s ease infinite;
            }
        }
    }
}

/*BMI SERVICE NETWORK*/
.service-network-section{
    .address-row{
        width: 100%;
        .col-12{
            margin-bottom: 20px;
            border-bottom: 1px dotted #000;
        }
        .address-wrapper{
            @include column-center;
            width: 100%;
            .header{
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 20px;
                align-self: flex-start;
            }
            .item{
                width: 100%;
                @include row-start;
                margin-bottom: 15px;
                span{
                    font-weight: 700;
                    margin-right: 15px;
                }
                a{
                    color: var(--t-color-7);
                    &:hover{
                        color: var(--t-color-1);
                    }
                }
            }
        }
    }
    .map-wrapper{
        min-height: 500px;
        border: 1px solid var(--black-2);
        padding: 15px;
        iframe{
            min-height: 500px;
        }
    }
}

/*TRAINING ABOUT PAGE*/
.training-about-section{
    width: 100%;
    .content-wrapper{
        width: 100%;
        @include column-center;
        .banner-image{
            width: 100%;
            border-radius: 10px;
            min-height: 250px;
            height: 100%;
            max-height: 360px;
            img{
                width: 100%;
                height: 100%;
                min-height: 250px;
                max-height: 360px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .header{
            width: 100%;
            @include s-between;
            padding: 20px 0;
            .name{
                color: var(--t-color-1);
                padding-right: 20px;
                font-weight: 700;
                font-size: 18px;
            }
            .badge{
                align-self: flex-start;
                background-color: var(--bg-color-5);
                border-radius: 5px;
                padding: 10px;
                img{
                    margin-right: 7px;
                }
                span{
                    font-size: 14px;
                    color: var(--t-color-6);
                }
                .offline-icon, .offline-span{
                    display: none;
                }
                &.offline{
                    background-color: var(--bg-color-1);
                    .online-icon , .online-span{
                        display: none;
                    }
                    .offline-icon, .offline-span{
                        display: inline-block;
                    }
                }
            }
        }
    }
}

/*---------------TRAINING ACCORDION---------------*/
#training-accordion{
    width: 100%;
    max-width: 800px;
    align-self: flex-start;
    .accordion-item{
        border: none;
    }
    .accordion-button{
        padding: 25px 20px;
        background-color: #ECEEF6;
        @include s-between;
        border: none;
        border-radius: 0;
        border-top: 3px solid var(--d-color-1);
        margin-bottom: 10px;
        &::after{
            display: none;
        }
        span{
            font-size: 20px;
            font-weight: 600;
        }
        i{
            font-size: 20px;
            color: var(--t-color-1);
        }
        &:focus{
            box-shadow: none;
            span{
                color: var(--t-color-7);
            }
            i{
                color: var(--t-color-1);
            }
        }
        &:not(.collapsed){
            box-shadow: none;
            border-top-color: var(--d-color-5);
            span{
                color: var(--t-color-7);
            }
            i{
                color: var(--t-color-5);
            }
        }
    }
    .accordion-body{
        @include column-start;
        .text{
            margin-bottom: 25px;
        }
        .list-wrapper{
            @include column-start;
            margin-bottom: 25px;
            .label{
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            ul{
                padding-left: 15px;
                li{
                    list-style: "- ";
                }
            }
            .label-2{
                font-size: 16px;
                margin-bottom: 0;
            }
        }
        .row.trainers{
            width: 100%;
            .col-12{
                @include center;
            }
        }
        .training-date{
            @include column-start;
            span{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }
        }
    }
}

/*BMI TEDBIR ABOUT PAGE*/

.tedbir-about-section{
    .row{
        width: 100%;
    }
    .poster{
        width: 100%;
        min-height: 250px;
        height: 100%;
        img{
            width: 100%;
            min-height: 250px;
            height: 100%;
            object-fit: cover;
        }
    }
    .right{
        width: 100%;
        @include column-start;
        .header{
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .icons{
            @include column-start;
            margin-bottom: 10px;
            .item{
                @include center;
                margin-bottom: 10px;
                i{
                    color: var(--t-color-1);
                    font-size: 20px;
                    margin-right: 7px;
                }
                span{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}
.diger-tedbirler-container{
    width: 100%;
    margin-bottom: 25px;
    @include column-center;
}

/*TRAINER ABOUT PAGE*/

.trainer-about-section{
    .row{
        width: 100%;
        .col-12{
            @include center;
        }
        .trainer-image{
            width: 100%;
            max-width: 400px;
            margin-bottom: 30px;
            position: relative;
            img{
                width: 100%;
                min-height: 250px;
                object-fit: contain;
            }
            .hover-div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                background: linear-gradient(to bottom, rgba(61, 84, 161,0.9),rgba(61, 84, 161,0.5));
            }
            .wrapper{
                width: 100%;
                @include s-between;
                align-items: flex-end;
                position: absolute;
                bottom: 0;
                padding: 20px;
            }
            .name{
                color: var(--t-color-6);
                font-weight: 700;
                animation: trainer-name 1s ease 0.5s forwards;
                padding-right: 15px;
                opacity: 0;
                display: none;
            }
            .icons{
                @include column-center;
                display: none;
                opacity: 0;
                animation: trainer-icons 0.5s ease 1.5s forwards;
            }
            .sosial-icon{
                width: 40px;
                height: 40px;
                @include center;
                background-color: var(--bg-color-1);
                color: var(--t-color-6);
                font-size: 18px;
                border-radius: 5px;
                margin-bottom: 8px;
                &:last-child{
                    margin-bottom: 0;
                }
                &:hover{
                    animation: pulse-1 1s ease infinite;
                }
            }
            &:hover{
                .hover-div{
                    height: 100%;
                }
                .name{
                    display: inline-block;
                }
                .icons{
                    display: flex;
                }
            }
        }
        .trainer-info{
            width: 100%;
            @include column-start;
            .text{
                text-align: center;
                font-weight: 500;
            }
        }
    }
}


/*-----------BMI NEWS ABOUT PAGE-----------*/

.news-about-section{
    margin-bottom: 20px;
    .row{
        width: 100%;
    }
    .poster{
        width: 100%;
        min-height: 250px;
        height: 100%;
        img{
            width: 100%;
            min-height: 250px;
            height: 100%;
            object-fit: cover;
        }
    }
    .right{
        width: 100%;
        @include column-start;
        .header{
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .icons{
            @include column-start;
            margin-bottom: 10px;
            .item{
                @include center;
                margin-bottom: 10px;
                i{
                    color: var(--t-color-1);
                    font-size: 20px;
                    margin-right: 7px;
                }
                span{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
    .bottom{
        margin-top: 25px;
        width: 100%;
        @include column-center;
        .news-icons{
            width: 100%;
            @include row-start;
            padding: 20px 0;
            a{
                display: inline-block;
                width: 40px;
                height: 40px;
                @include center;
                color: var(--t-color-6);
                font-size: 18px;
                margin-right: 10px;
                border-radius: 5px;
                &:last-child{
                    margin-right: 0;
                }
                &.facebook{
                    background-color: #475993;
                }
                &.whatsapp{
                    background-color: #1BD741;
                }
            }
        }
    }
}
